<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="UTF-8" />
    <title>Deleting</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>Deleting</h1>
    <br/>
    <br/>

    <div class="table-container">
        <table class ="container" border="1">
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Title</h1></th>
                <th><h1>Author</h1></th>
            </tr>
            <tr th:each ="album : ${albums}">
                <td th:utext="${album.id}">...</td>
                <td th:utext="${album.title}">...</td>
                <td th:utext="${album.author}">...</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <form th:action="@{/delete}" th:object="${deletingform}" method="POST">
            <p>ID:
                <label>
                    <select th:field="*{id}">
                        <option th:each="album:${albums}" th:value="${album.id}" th:text="${album.id}"></option>
                    </select>
                </label>
            </p>

            <input class ="button-main-page" type="submit" value="Remove" />
        </form>
    </div>

</body>
</html>