<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="UTF-8" />
    <title>Deleting</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>Deleting</h1>
    <br/>
    <br/>

    <div class="container">
        <form th:action="@{/delete}" th:object="${deletingform}" method="POST">
            <p>Title:
                <label>
                    <select th:field="*{title}">
                        <option th:each="album:${albums}" th:value="${album.title}" th:text="${album.title}"></option>
                    </select>
                </label>
            </p>

            <input class ="button-main-page" type="submit" value="Remove" />
        </form>
    </div>

</body>
</html>