<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Edit Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container">
    <h1>Edit album</h1>

    <div class="table-container">
        <table class ="container" border="1">
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Title</h1></th>
                <th><h1>Author</h1></th>
            </tr>
            <tr th:each ="album : ${albums}">
                <td th:utext="${album.id}">...</td>
                <td th:utext="${album.title}">...</td>
                <td th:utext="${album.author}">...</td>
            </tr>
        </table>
    </div>
</div>

<div class="container">
    <form th:action="@{/edit}" th:object="${albumform}" method="POST">
        <p>ID:
            <label>
                <select th:field="*{id}">
                    <option th:each="album:${albums}" th:value="${album.id}" th:text="${album.id}"></option>
                </select>
            </label>
        </p>
        <p>Title:
            <label>
                <input type="text" th:field="*{title}" />
            </label>
        </p>
        <p> Author:
            <label>
                <input type="text" th:field="*{author}" />
            </label>
        </p>
        <input class ="button-main-page" type="submit" value="Change" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
</body>